
body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url(../img/bg4.png) center center/cover no-repeat;
    
}
.form{
    margin: 0 auto;
    margin-top: 40px;
    padding:50px;
    width: 800px;
    height: 200px;
    background-color: rgba(20, 17, 17, 0.9);  
}
.wrapper{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}
legend{
    text-align: center;
    text-transform: uppercase;
    color:white;
    font-size: 24px;
    
}
hr{
    color: white;
    
}
label{
    color:whitesmoke;
    font-size: 16px;
   
}

input
{   margin-right: 40px;
    margin-top: 7px;
    width: 180px;
    height: 20px;
    background: inherit;
    border: 2px solid white;
    border-radius: 7px;
    color:white;
}

input:focus{
   box-shadow: 0px 0px 16px 4px rgba(242, 245, 247, 0.23);
}
.btn{
    border:none;
    outline:none;
    background-color: #fff;
    border-radius: 7px;
    width: 100px;
    height: 30px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-left: 70px;
}
.btn:active{
    box-shadow: 0px 0px 16px 4px rgba(242, 245, 247, 0.23);
}

#j-result{
    background: rgba(0, 0, 0, 0.739);
    height: fit-content;
    margin: 20px auto;
     
    width: 900px;
    display:flex;
    justify-content: center;
}
#j-result p{
    color: red;
    text-transform: uppercase;
}
